* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(imagenes/77420df3f9e33db5b79ee25455d3340e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:20px ;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
h1 {
    color: #fff;
    font-size: 45px;
}
ul li {
    display: inline-block;
    padding: 0px 20px;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #00ffff;
}

form {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.input-grupo {
    display: flex;
    flex-direction: column;
    text-align: left;
}
label {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
input,textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #FFF;
    border: 2px solid #F0FAF1;
    color: #162938;
    outline: none;
}
input::placeholder,textarea::placeholder {
    color:#111;
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn {
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow:  0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}
.btn:hover {
    background-color: #50E04B;
}
@media(max-width:991px) {
    body {
        padding:30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input {
        padding:15px;
    }
}

