body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(a2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-decoration: none; 
    font-weight: 500;
    margin-left: 60px;
}
.navigation a::after{
    content: '';
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.conteiner{
    width: 40%;
    background-color: rgba(58, 58, 58, 0.699);
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.img-01{
    border-radius: 10px;
}