body {
    font-family: 'Poppins', sans-serif;
}
/*CSS Reset*/
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Navegacion*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/77420df3f9e33db5b79ee25455d3340e.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

nav {
    height: 100px;
    max-width: 1200px;
    margin: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 30px;
    margin-left: 20px;
}
.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 300px;
    height: 0vh;
    top: 100px;
    background: rgb(12, 18, 36);
    text-align: center;
    transition: all 0.5;
}
.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5;
}
.nav-menu li {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active,
.nav-menu li a:hover {
    color: #fff;
    transition: 0.3s;
}
#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display: block;
}
.banner-text {
    padding-top: 10px;
    text-align: center;
}
.banner-text h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.banner-text p {
    color: #fff;
    font-size: 40px;
    padding: 30px;
}
.btn-a {
    display: inline-block;
    background-color: #9900ff;
    margin-top: 30px;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}
.btn-a:hover {
    background-color: #9900ff;
}



